:root{
    --font-primary: "Raleway", sans-serif;
    --font-secondary: "Inter", sans-serif;

    --background-color-blue: #000B42;
    --background-color-light-blue: #122065;
    --background-color-white: #FFFFFF;
    --background-color-grey: #F3F4F6;

    --font-color-black: #222D39;
    --font-color-white: #FAFAFA;
    

}